<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzp8bIAFTWL_piiP3qQx1LpKV-pL3FpaU</string>
	<key>GCM_SENDER_ID</key>
	<string>512955431356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liftKarade</string>
	<key>PROJECT_ID</key>
	<string>liftKarade-1aadb</string>
	<key>STORAGE_BUCKET</key>
	<string>liftKarade-1aadb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512955431356:ios:bc9f002829e337e51293b9</string>
</dict>
</plist>